*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}
p {
		font-size: 20px;
		color: #283534d6;
		font-family: 
		text-align: center;
	}
	div{

		width:30%;
		margin:auto;
		padding-bottom:30px;
	}
	body{
		background-image: url(ps.png);
		background-size: cover;
  	  	background-position: center;
	}
	img {
		width: 80%;
		height: auto;
		

		min-width: 100px;

		margin: auto;
		display: block;
	}





