 *{
 	padding: 0;
 	margin: 0;
 	box-sizing: border-box;
 }
 p{ 
    font-size: 29px;
	color: #2f2438a6;
	font-family: 'Comfortaa', cursive;
	text-align: center;
	padding: 15px 0; 


	/*text-shadow: 3px 1px 4px #f7f4e5;*/

	color: #FFFFFF;

text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
	}	

	div{

	width:50%;
	margin: auto;
	padding-bottom: 30px;

	}
	h1{
		font-size: 29px;
		color: #272121;
		text-align: center;
		font-family: 'Comfortaa', cursive;
		padding:25px 0;
	color: #A7DD3C;
text-shadow: 2px 0 0px #800040, 3px 2px 0px rgba(77,0,38,0.5), 3px 0 3px #FF002B, 5px 0 3px #800015, 6px 2px 3px rgba(77,0,13,0.5), 6px 0 9px #FF5500, 8px 0 9px #802A00, 9px 2px 9px rgba(77,25,0,0.5), 9px 0 18px #FFD500, 11px 0 18px #806A00, 12px 2px 18px rgba(77,66,0,0.5), 12px 0 30px #D4FF00, 14px 0 30px #6A8000, 15px 2px 30px rgba(64,77,0,0.5), 15px 0 45px #80FF00, 17px 0 45px #408000, 17px 2px 45px rgba(38,77,0,0.5);

	}
	a{
		font-size: 29px;
		color: green;
		text-decoration: none;
		font-family: 'Comfortaa', cursive;

		margin: 30px 0 0 30px;
	}

		
	a:hover {
		color:red;
		border-bottom: 2px solid red;
	}
	p:hover {
		color:purple;
		

	}
	



	img {
		width: 70%;
		height: auto;
		max-width: 500px;

		min-width: 100px

		margin: auto;
		display: inline-block;
		-webkit-box-shadow: 18px -5px 10px 10px #000000; 
box-shadow: 18px -5px 10px 10px #000000;
	}
  body {
  	  	background-image: url(fon.jfif);
  	  	background-size: cover;
  	  	background-position: center;

}